NODE_ENV=development
PORT=5000

JWT_SECRET=8341ea9406f0bbafa406b52a1568972ef3df7cfe3b524c8ccca4cea81fec7bd2
JWT_EXPIRE=30d

# --- Firestore (Firebase Admin SDK) ---
FIREBASE_PROJECT_ID=bloodbank-2b6c5
FIREBASE_SERVICE_ACCOUNT_KEY=
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json